// The es2015 preset must have modules set to false in order to enable webpack to handle the module transformation,
// during which the hot modules implementation is injected.

{
  "presets": [["es2015", {"modules": false}], "stage-2", "react"],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
